services:
  mediamtx-dashboard:
    build:
      context: .
      dockerfile: Dockerfile
    # This "tunnels" your Windows folder into the container
    volumes:
      - .:/app
      - /app/node_modules    # <--- NO DOT. This is the magic line.
      - /app/.next           # <--- NO DOT.
    # Runs the Next.js development server with Hot Reloading
    command: npm run dev
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - NEXT_PUBLIC_MEDIAMTX_API_URL=http://192.168.8.23:9997
    networks:
      - mediamtx-net

  nginx_mediamtx_proxy:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - mediamtx-dashboard
    networks:
      - mediamtx-net

networks:
  mediamtx-net:
    driver: bridge